<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<div>
<!--    <form method="post" action="/login">-->
<!--        <input name="j_username" placeholder="Username"/>-->
<!--        <input name="j_password" type="password" placeholder="Password"/>-->
<!--        <input type="submit" value="Sign in"/>-->
<!--    </form>-->
    <form  class="form-group" method="post" action="/login"  >

        <div class=" mx-auto my-6 " style="width: 300px;">

            <labe><h1 style="font-size: 22pt; margin-top: 50px;">Please sign in</h1></labe>
            <input type="text" name="j_username"  class="form-control" placeholder="Username">

            <input type="password"  name="j_password" class="form-control" placeholder="Password">

            <button type="submit" class="btn btn-primary my-2  btn-block">Sign in</button>
        </div>

    </form>
</div>
</body>
</html>